
.label {
	font-size: 14px;
}

.form-field {
    padding-top: 19px;
}

.buttons-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 40px;
}
.button-spacing {
    margin-left: 5px;
}