
.fa-file {
	font-size: 15px;
	align-self: center;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100%;
}

.div-data {
	padding-top: 10px;
	padding-bottom: 10px;
	
	p {
		margin-bottom: -1px;
	}
	
	font-size: 14px;
}

