@import '../../../@theme/styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  
  nb-card {
    height: 150px;
  }

  nb-card-body {
    position: relative;
    overflow: hidden;
  }


  .title {
    font-weight: 600;
    font-size: 0.76rem;
    color: #a5a5a5;
  }

  .echart {
    position: absolute;
    left: 0.39rem;
    top: 29px;
    height: calc(100% - 2 * 1rem);
    width: 40%;
    transform: scale(0.76);
  }

  .info {
    margin-left: 45%;
    padding-top: 1.2rem;
    transform: translateY(10px);
  }

  .value {
    margin: 0;
  }

  .details {
    color: nb-theme(text-hint-color);
  }

  .solar-card {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .card-body {
        padding: 0;
        position: relative;
    }

    .inner-body {
        border-radius: 10px;
        overflow: hidden;
        padding: 14px;
    }

  
}
