<nb-card style="width:380px; min-height:203px; text-align:center;">
  <nb-card-header>Confirm delete for output:</nb-card-header>
  <nb-card-body style="display: flex; flex-direction: column; justify-content: space-between; padding-top: 0px; height: 100%;">
    <div style="flex-grow: 1; overflow: hidden; padding: 10px; align-content: center;">
      <strong style="display: block; overflow: hidden;">
        {{ title.length > 100 ? (title | slice:0:100) + '...' : title }}
      </strong>
    </div>
    <div class="buttons-container" style="margin-bottom: 10px;">
      <button class="button-delete" tabindex="-1" style="margin-right: 5px;" (click)="delete()" nbButton shape="rectangle" status="warning">
        Delete
      </button>
      <button class="button-delete" tabindex="-1" style="margin-left: 5px;" (click)="softDelete()" nbButton shape="rectangle" status="success">
        Soft Delete
      </button>
    </div>
  </nb-card-body>
</nb-card>
