<nb-card style="width:380px; min-height:203px; text-align:center;">
  <nb-card-header>Confirm delete</nb-card-header>
  <nb-card-body style="display: flex; flex-direction: column; justify-content: space-between; padding-top: 0px; height: 40%;">
    <div style="flex-grow: 1; overflow: hidden; padding: 2px; align-content: center;">
      <button class="button-delete" tabindex="-1" style="margin-right: 5px;" (click)="delete()" nbButton shape="rectangle" status="warning">
        Delete
      </button>
    </div>
  </nb-card-body>
</nb-card>
